# Introduction to Pandas

Sources = https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/
https://medium.com/datactw/imdb-dataset-visualization-data-analytics-using-pandas-97b5c6f03c6d

In [1]:
#Import packages

import numpy as np
import pandas as pd

## Series

In [2]:
ser = pd.Series()

/var/folders/vt/l1l_f08x1211ysgtg9q9pky80000gn/T/ipykernel_87975/4275222642.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [3]:
ser

Series([], dtype: float64)

In [4]:
data = np.array(['a','b','c', 'd'])

In [5]:
data

array(['a', 'b', 'c', 'd'], dtype='<U1')

In [6]:
pd.Series(data)

0    a
1    b
2    c
3    d
dtype: object

## Dataframes

In [8]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [9]:
data['apples']

[3, 2, 0, 1]

In [10]:
purchases = pd.DataFrame(data)

In [11]:
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [12]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

In [13]:
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [14]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

In [15]:
purchases.iloc[1]

apples     2
oranges    3
Name: Robert, dtype: int64

In [ ]:
#loc gets rows (and/or columns) with particular labels.
#iloc gets rows (and/or columns) at integer locations.

In [16]:
purchases['apples']

June      3
Robert    2
Lily      0
David     1
Name: apples, dtype: int64

In [17]:
type(purchases['apples'])

pandas.core.series.Series

In [18]:
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [19]:
purchases['bananas'] = [5,7,2,3]

In [20]:
purchases

        apples  oranges  bananas
June         3        0        5
Robert       2        3        7
Lily         0        7        2
David        1        2        3

In [23]:
purchases.iloc[2:4]

       apples  oranges  bananas
Lily        0        7        2
David       1        2        3

In [24]:
purchases.loc['Robert':'David']

        apples  oranges  bananas
Robert       2        3        7
Lily         0        7        2
David        1        2        3

In [25]:
purchases[['oranges','bananas']]

        oranges  bananas
June          0        5
Robert        3        7
Lily          7        2
David         2        3

## Reading in Data

In [28]:
movies = pd.read_csv("imdb_1000.csv")

movies.head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [29]:
movies.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

## Basic Data Analysis

In [30]:
movies.shape

(979, 6)

In [31]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [33]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [34]:
movies["duration"].mean()

120.97957099080695

In [37]:
movies.sort_values("duration")

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
...,...,...,...,...,...,...
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [38]:
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [39]:
movies = movies.sort_values("duration", ascending = False)

movies

### Find the highest rated movie in the Comedy genre

In [45]:
movies['genre'] == 'Comedy'

476    False
157    False
78     False
142    False
445    False
       ...
293     True
88      True
258    False
338    False
389    False
Name: genre, Length: 979, dtype: bool

In [46]:
comedy = movies[movies['genre'] == 'Comedy']

In [47]:
comedy

,star_rating,title,content_rating,genre,duration,actors_list
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
231,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
...,...,...,...,...,...,...
738,7.6,Army of Darkness,R,Comedy,81,"[u'Bruce Campbell', u'Embeth Davidtz', u'Marcu..."
622,7.7,The Dinner Game,PG-13,Comedy,80,"[u'Thierry Lhermitte', u'Jacques Villeret', u'..."
535,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."

In [48]:
comedy = comedy.reset_index(drop = True)

In [49]:
comedy

,star_rating,title,content_rating,genre,duration,actors_list
0,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
1,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
2,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
3,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A..."
4,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
...,...,...,...,...,...,...
151,7.6,Army of Darkness,R,Comedy,81,"[u'Bruce Campbell', u'Embeth Davidtz', u'Marcu..."
152,7.7,The Dinner Game,PG-13,Comedy,80,"[u'Thierry Lhermitte', u'Jacques Villeret', u'..."
153,7.8,Zelig,PG,Comedy,79,"[u'Woody Allen', u'Mia Farrow', u'Patrick Horg..."
154,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
155,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."

In [50]:
comedy.sort_values('star_rating', ascending = False).iloc[0]['title']

'Life Is Beautiful'

### Find the average duration of movies for each type of content rating

In [51]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."

In [52]:
movies['content_rating'].nunique()

12

In [53]:
groups = movies.groupby('content_rating')

In [54]:
groups

In [55]:
groups['duration'].mean()

content_rating
APPROVED     113.914894
G            112.343750
GP           135.666667
NC-17        119.857143
NOT RATED    122.661538
PASSED       104.285714
PG           115.300813
PG-13        127.195767
R            122.163043
TV-MA        131.000000
UNRATED      109.789474
X            106.250000
Name: duration, dtype: float64

### Find the highest rated movie in each genre

In [57]:
grouped = movies.groupby('genre')

In [59]:
grouped['star_rating'].max()

genre
Action       9.0
Adventure    8.9
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.3
Drama        8.9
Family       7.9
Fantasy      7.7
Film-Noir    8.3
History      8.0
Horror       8.6
Mystery      8.6
Sci-Fi       8.2
Thriller     8.0
Western      8.9
Name: star_rating, dtype: float64

In [60]:
max_rating_idx = grouped['star_rating'].idxmax()

In [61]:
max_rating_idx

genre
Action         3
Adventure      7
Animation     30
Biography      8
Comedy        25
Crime          0
Drama          9
Family       468
Fantasy      638
Film-Noir    105
History      338
Horror        39
Mystery       38
Sci-Fi       145
Thriller     350
Western        6
Name: star_rating, dtype: int64

In [62]:
highest_rated = movies.loc[max_rating_idx]

In [63]:
highest_rated

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C..."
638,7.7,The City of Lost Children,R,Fantasy,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ..."
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

In [64]:
highest_rated[['genre','title','star_rating']]

         genre                                          title  star_rating
3       Action                                The Dark Knight          9.0
7    Adventure  The Lord of the Rings: The Return of the King          8.9
30   Animation                                  Spirited Away          8.6
8    Biography                               Schindler's List          8.9
25      Comedy                              Life Is Beautiful          8.6
0        Crime                       The Shawshank Redemption          9.3
9        Drama                                     Fight Club          8.9
468     Family                     E.T. the Extra-Terrestrial          7.9
638    Fantasy                      The City of Lost Children          7.7
105  Film-Noir                                  The Third Man          8.3
338    History                            Battleship Potemkin          8.0
39      Horror                                         Psycho          8.6
38     Mystery                                    Rear Window          8.6
145     Sci-Fi                                   Blade Runner          8.2
350   Thriller                              Shadow of a Doubt          8.0
6      Western                 The Good, the Bad and the Ugly          8.9

In [65]:
movies.loc[movies.groupby('genre')['star_rating'].idxmax()][['genre','title','star_rating']]

         genre                                          title  star_rating
3       Action                                The Dark Knight          9.0
7    Adventure  The Lord of the Rings: The Return of the King          8.9
30   Animation                                  Spirited Away          8.6
8    Biography                               Schindler's List          8.9
25      Comedy                              Life Is Beautiful          8.6
0        Crime                       The Shawshank Redemption          9.3
9        Drama                                     Fight Club          8.9
468     Family                     E.T. the Extra-Terrestrial          7.9
638    Fantasy                      The City of Lost Children          7.7
105  Film-Noir                                  The Third Man          8.3
338    History                            Battleship Potemkin          8.0
39      Horror                                         Psycho          8.6
38     Mystery                                    Rear Window          8.6
145     Sci-Fi                                   Blade Runner          8.2
350   Thriller                              Shadow of a Doubt          8.0
6      Western                 The Good, the Bad and the Ugly          8.9