# Introduction to Python

In [172]:
print('Hello, World')

Hello, World

## Math

In [173]:
1+1

2

In [174]:
30 + 15

45

In [175]:
10 - 8

2

In [176]:
30 * 3

90

In [177]:
4 ** 2

16

In [178]:
24 / 5

4.8

In [179]:
24 % 5

4

In [180]:
1 + 2 * 3

7

In [181]:
(1 + 2) * 3

9

In [182]:
# I am a comment. Fear my wrath!

## Data Types : String

In [183]:
my_note = 'cogs 9 discussion'

In [184]:
my_note

'cogs 9 discussion'

In [185]:
my_note[3]

's'

In [186]:
my_note[2:4]

'gs'

In [187]:
my_note[1:]

'ogs 9 discussion'

In [188]:
my_note[:3]

'cog'

In [189]:
addition = ' week 3'

In [190]:
addition

' week 3'

In [191]:
total = my_note + addition

In [192]:
total

'cogs 9 discussion week 3'

## Data Types : Numbers

In [193]:
#integers

a = 2

In [194]:
a

2

In [195]:
a = a + 3

a

5

In [196]:
type(a)

int

In [197]:
#floats

b = 3.6

In [198]:
type(b)

float

In [199]:
b = b + 1
b

4.6

In [200]:
c = a + b
c

9.6

## Data Types : Booleans

In [201]:
x = True

In [202]:
x

True

In [203]:
type(x)

bool

In [204]:
y = False

In [205]:
z = x + y

In [206]:
z

1

In [207]:
type(z)

int

## Comparisons

In [208]:
a = 1
b = 2
c = 3
d = 1
e = 0

In [209]:
a > 0

True

In [210]:
a > e

True

In [211]:
a == d

True

In [212]:
c != e

True

In [213]:
b < c

True

## If else conditions

In [214]:
x = 4

In [215]:
if x > 2:
    print('success')

success

In [216]:
if x < 4:
    print('success')

In [217]:
if x < 4:
    print('success')
else:
    print('failure')

failure

## lists

In [218]:
numbers = [10,11,12,13,14]
fruits = ['apple','banana','strawberry','mango']

In [219]:
numbers[0]

10

In [220]:
fruits[3]

'mango'

In [221]:
fruits[2:4]

['strawberry', 'mango']

In [222]:
numbers[1:]

[11, 12, 13, 14]

In [223]:
fruits.append('pineapple')

In [224]:
fruits

['apple', 'banana', 'strawberry', 'mango', 'pineapple']

In [225]:
fruits + numbers

['apple', 'banana', 'strawberry', 'mango', 'pineapple', 10, 11, 12, 13, 14]

## for loops

In [226]:
for i in range(5):
    
    print('hello word')

hello word
hello word
hello word
hello word
hello word

In [227]:
list_1 = []

for i in range(10):
    list_1.append('car')

In [228]:
list_1

['car', 'car', 'car', 'car', 'car', 'car', 'car', 'car', 'car', 'car']

## functions

In [229]:
#add 2 numbers

def add_1(x,y):
    
    return x + y

In [230]:
a = 5
b = 10

In [231]:
add_1(1,3)

4

In [232]:
add_1(a,b)

15

In [233]:
#convert temperature reading from farhenheit to celsius

def far_to_cel(num):
    
    num = (num - 32)/1.8
    
    num = round(num)
    
    print('done!')
    
    return num

In [234]:
far_to_cel(52)

done!

11